
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang Chủ - Đặt Sân</title>
    <link rel="stylesheet" href="~/Content/layout1.css" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="~/images/logo sân.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Danh sách sân bóng</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Chính sách</a></li>
                <li><a href="#">Điều khoản</a></li>
                @*<li><a href="#">Dành cho chủ sân</a></li>*@
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </nav>
        <div class="right-side">
            <a href="#" class="customer-support">Chăm Sóc Khách Hàng</a>
            <a href="#" class="login">Đăng nhập</a>
            <a href="#" class="register">Đăng ký</a>
            <div class="search-bar">
                <input type="text" placeholder="Tìm kiếm">
                <button>🔍</button>
            </div>
        </div>
    </header>
    <div class="hero-section">
        <div class="hero-image-container">
            <img src="~/images/sanbong.png" alt="Hero Image" class="hero-image">
        </div>

    </div>

    <div class="features-section">
        <div class="container">
            <div class="row home-sub-intro align-center justify-center">
                <div align="center" class="col col-sm-4 col-12">
                    <img src="~/images/image_3.png" class="mb-5">
                    <h3 class="home-sub-title mb-3">Tìm kiếm vị trí sân</h3>
                    <p class="home-sub-des">Dữ liệu sân đấu dồi dào, liên tục cập nhật, giúp bạn dễ dàng tìm kiếm theo khu vực mong muốn</p>
                </div>
                <div align="center" class="col col-sm-4 col-12">
                    <img src="~/images/imagelich .png" class="mb-5">
                    <h3 class="home-sub-title mb-3">Đặt lịch online</h3>
                    <p class="home-sub-des">Không cần đến trực tiếp, không cần gọi điện đặt lịch, bạn hoàn toàn có thể đặt sân ở bất kì đâu có internet</p>
                </div>
                <div align="center" class="col col-sm-4 col-12">
                    <img src="~/images/image_5.png" class="mb-5">
                    <h3 class="home-sub-title mb-3">Tìm đối, bắt cặp đấu</h3>
                    <p class="home-sub-des">Tìm kiếm, giao lưu các đội thi đấu thể thao, kết nối, xây dựng cộng đồng thể thao sôi nổi, mạnh mẽ</p>
                </div>
            </div>
        </div>
    </div>





    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-12">
                        <div class="footer-widget fl-wrap">
                            <h3 id="gioi-thieu">Giới thiệu</h3>
                            <div class="footer-contacts-widget fl-wrap">
                                <p>
                                    Đặt sân bóng cung cấp các tiện ích thông minh giúp cho bạn tìm sân bãi và đặt sân một cách hiệu quả nhất.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-12">
                        <div class="footer-widget fl-wrap">
                            <h3>Thông tin</h3>
                            <div class="footer-contacts-widget fl-wrap">
                                <ul class="footer-contacts fl-wrap">
                                    <li>
                                        <span>
                                            <i aria-hidden="true" class="v-icon notranslate mdi mdi-home-modern theme--light" style="font-size:16px;color:#F9B90F;"></i>
                                        </span>
                                        <a>Công ty Cổ phần Booking 247</a>
                                    </li>
                                    <li>
                                        <span>
                                            <i aria-hidden="true" class="v-icon notranslate mdi mdi-barcode theme--light" style="font-size:16px;color:#F9B90F;"></i>
                                            MST
                                        </span>
                                        <a>0110175404</a>
                                    </li>
                                    <li>
                                        <span>
                                            <i aria-hidden="true" class="v-icon notranslate mdi mdi-email-outline theme--light" style="font-size:16px;color:#F9B90F;"></i>
                                            Mail : datsanbong999@gmail.com
                                        </span>
                                        
                                    </li>
                                    <li>
                                        <span>
                                            <i aria-hidden="true" class="v-icon notranslate mdi mdi-map-marker-outline theme--light" style="font-size:16px;color:#F9B90F;"></i>
                                            Địa chỉ :
                                        </span>
                                        806 QL22, ấp Mỹ Hoà 3, Hóc Môn, Hồ Chí Minh, Việt Nam
                                    </li>
                                    <li>
                                        <span>
                                            <i aria-hidden="true" class="v-icon notranslate mdi mdi-phone theme--light" style="font-size:16px;color:#F9B90F;"></i>
                                            Điện thoại : 09.323.232.323
                                        </span>
                                        
                                    </li>
                                    <li>
                                        <a>Giấy phép ĐKKD số 0110175404 do Sở Kế hoạch và Đầu tư thành phố Hà Nội Cấp ngày 08/11/2022</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-12">
                        <div class="footer-widget fl-wrap">
                            <h3 id="lien-he">Liên hệ</h3>
                            <div class="customer-support-widget fl-wrap">
                                <h4>Chăm sóc khách hàng: </h4>
                                09.323.232.323
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
